#fondo{
    /*background: url('../img/riding-bike.jpg') no-repeat center center;*/
    background: rgb(2,0,36);
    background-image: linear-gradient(230deg, rgba(0,0,0,1) 0%, rgba(1,19,19,1) 51%, #92F4F4 86%, #92F4F4 100%);
    width: auto;
    height: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 10% ;
    
    
  
}