main > .container {
    padding: 70px 15px 20px;
}
/*cambia el tipo de letra de toda la página*/
*{
    font-family: 'Titillium web';
    font-size: 101%;

}

/*Pantalla de precarga de la aplicación*/
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}
/*Pantalla de precarga de la aplicación*/
.precarga{
    padding: 10px;
    width: auto;
    height: auto;
    margin-top: 115px;
    margin-left:  415px;
    vertical-align: middle;
}

/*Fondo de la página de precarga*/
#fondoprecarga{
    background: #73CED3;
    background: linear-gradient(-70deg, #E0FCFC, #73CED3, #36D3DD, #E0FCFC); /*Aplicar un color con degradado de fondo de la aplicación*/
    width: auto;
    height: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 10%;
    cursor: url(../img/iconohuella.svg), auto; /*Asignar una imagen al cursor del ratón de toda la página.*/

}

body {
    font-family: 'Titillium web';
    text-align: justify;
    padding: 25px;
    background-color: #EEF9FE;
    color: black;
    font-size: 25px;
    cursor: url(../img/iconohuella.svg),auto;

}
/*Modo oscuro */
.dark-mode {
    background-color: black;
    color: white;
}


/*Representa el pie de página*/
.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;

}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* Agrega iconos de clasificación a los enlaces de clasificación de gridview */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}
.h6{
    text-align: justify;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;

}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;

}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Alinea el enlace de cierre de sesión (botón en forma) de la barra de navegación */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

/*Archivos de media, como pueden ser imágenes, dandoles unas características concretas*/
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 10%;
        padding: 10px 0;

    }
}
/*Barra de navegación del menú de la página*/
.navbar{
    background-color: black;

}



.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*Campo de título de la página centrado*/
.titulo{

    text-align: center;
}

/*Aplicar un fondo con unas caracterísitcas concreta a la parte de código donde hagamos mención a "fondo"*/
#fondo{
    background: #EEF9FE;
    /*background: linear-gradient(-70deg, #E0FCFC, #73CED3, #36D3DD, #E0FCFC); Aplicar un color con degradado de fondo de la aplicación*/
    width: auto;
    height: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 10% ;
    cursor: url(../img/iconohuella.svg),auto; /*Cambiar forma del crusor*/



}
.col {
    display: flex;
    justify-content: center;
    align-items: center;

}




details{ /*Ocultar flecha */
    list-style: none;
}

div.body-content  {
    display: grid;

}






/* Titulo*/
.titulo-pagina {
    overflow-x: hidden;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    color: #1b698a;
    font-size: 1.75rem;
    background-color: #bdd8e4;
    text-shadow: #39667e;
    box-shadow: 5px 5px rgba(176, 210, 226, 0.8784313725);
}
/* Titulo */
.titulo-pagina h2 {
    overflow-x: hidden;
    margin-left: 1rem;
    text-shadow: 3px 3px rgba(114, 178, 207, 0.6039215686);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    transition-delay: 1s;
    transition: all 0.3s;
    -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    
}


/*Imagen difuminada en la parte superior*/
.bg-foto {
    background-image: url(../img/analisis-desenfocado.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Imagen difuminada en la parte superior dentro del texto h2*/
.bg-foto h2 {
    line-height: 3.5rem;
    padding: 10rem 5rem;
    color: #fff;
    font-weight: 800;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5858718487) 0%, rgba(0, 0, 0, 0.5214460784) 35%, rgba(0, 0, 0, 0.1264880952) 100%);
    margin-bottom: 0;
}

/*Fondo por detrás de las cards, azul más clarito*/
.contenido-flex {
    display: flex;
    justify-content: center;
    background-color: #d5e9f1;
}


html {
    scroll-behavior: smooth;
}

/* Titulos de la página */

.titulo-pagina {
    overflow-x: hidden;

    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    color: #1b698a;
    font-size: 1.75rem;
    background-color: #bdd8e4;
    text-shadow: #39667e;
    box-shadow: 0px 0px #b0d2e2e0;

}



/*  Nos permite dar formato a las cards de la página*/
/*Difertes tonalidades de azul para que contraste con el fondo*/
.contenido-flex{
    .contenido-serv{
        .card{

            background-color:#39667e9a;
            border: none;
            .card-body{
                justify-content: center;
                align-items: center;

            }
            .card-title,
            .card-text{
                line-height: 3rem;
                color: #fff;
            }
            &:hover{
                transform: inherit;
                box-shadow: none;
            }
        }
    }
}
/*Estilos para el formulario*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}


/*Propiedades del fondo difuminado de la parte superior de la aplicación*/
.bg-foto {
    background-image: url(../img/fondodesenfoque.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Nosotros */
.contenido-flex-nos {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}


.imgnosotros{
    width: 2300px;
    height: 200px;
      }

  .contenido-flex-nos .nosotros {
    padding-top: 5px; }
    .contenido-flex-nos .nosotros .tarjeta-nosotros {
      background-color: rgba(255, 255, 255, 0.15);
      width: 100%;
      gap: 1rem;
      flex: 1; 
    }
    
      
      
      .container-xxl{
         background-color: #39667e9a; 
      }
      
      
      
      
      
      
 /* Enlaces de redes sociales */
      .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li a {
    color: #000;
    font-size: 20px;
}

.social-links li a:hover {
    color: #ff0000;
}
          
      
    
   /* Redes */

.redes-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1rem;
    padding: inherit;
    padding-right: 1rem;
    gap: 0.75rem;
    
}

.redes-item a{
    color: #ff0000;
    /*color: rgb(189, 216, 228);*/
}
.bi-facebook{
    color: blue;
}
.bi-whatsapp{
    color: #25D366;
}


.redes-item a:hover{
    color: #ff0000;;
    transition: all 0.3s;
}

.container-fluid{
    padding-left: 0;
    padding-right:0;
}   
      
    
/*Formulario de contacto */
.formulario{
    
    width: 650px;
    margin: 0 auto;
    padding: 50px;
    background: #6ECAF4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
.formulario-contacto {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    /*border: 2px solid blue;*/
    border-radius: 20px;
    background: #6ECAF4;

}




/*Nos permite dar formado al checkbox de términos y licencias*/

.styled-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.styled-checkbox:checked {
  background-color: #4FEA4F;
  background-image: url("https://cdn-icons-png.flaticon.com/512/633/633759.png");
  background-size: contain;
  background-position: center;
}

.styled-checkbox:focus {
  outline: none;
}

.checkbox-label {
  display: inline-block;
  vertical-align: middle;
}



/*popup de la página principal*/
.popup {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   width: 300px;
   height: 200px;
   border: 1px solid black;
   padding: 10px;
}




.popop {
  position: absolute;
  z-index: 3;
}


 h1 {
      
      font-size: 62px;
      color: black;
      text-align: center;
      
    }

/*.footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.footer p {
  color: #fff;
  text-decoration: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}*/




